.place {
  width: 1440px;
  display: grid;
  grid-template-areas: 'a a ' 'b c ';
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  gap: 10px;
  margin: 140px auto 140px auto;
  animation: ritgh-move;
  animation-timeline: view(0% 30%);
  opacity: 0;
}

.place__title {
  color: #333232;
  grid-area: a;
  margin: 0 auto 0 0;
  font-size: 52px;
  font-weight: 500;
  line-height: 62.93px;
}

@keyframes ritgh-move {
  to {
    opacity: 0;
    transform: scale(0);
  }
  from {
    opacity: 1;
    transform: scale(1);
  }
}

.place__description {
  border-radius: 28px;
  width: 590px;
  height: 197px;
  background-color: #c5b6f1;
  padding: 40px 48px 0 48px;
  color: #333232;
  grid-area: b;
}

.place__description_yellow {
  background-color: #f5f07a;
  color: #333232;
  grid-area: c;
}

.you-get {
  width: 1440px;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  margin: 0 auto 140px auto;
}

.you-get__title {
  color: #333232;
  grid-area: a;
  margin: 0 auto 60px 0;
  font-size: 52px;
  font-weight: 500;
  line-height: 62.93px;
  width: 625px;
  animation: scale both;
  animation-timeline: view(70% 10%);
}

@keyframes ritgh-side {
  from {
    opacity: 0;
    transform: translateX(-400px) scale(0);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.you-get__table {
  display: grid;
  grid-template-columns: repeat(3, 379px);
  justify-content: space-between;
  gap: 32px 86px;
}

.you-get__cell {
  width: 379px;
  height: 343px;
  color: rgba(51, 50, 50, 1);
  border-left: 1px solid rgba(197, 182, 241, 1);
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: scale both;
  animation-timeline: view(70% 10%);
}

@keyframes scale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Смещение четырех и пятого элементов на свои места */
.you-get__cell:nth-of-type(4) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.you-get__cell:nth-of-type(5) {
  grid-column: 3/4;
  grid-row: 2/3;
}

.you-get__description {
  margin: 0;
}

.you-get__number {
  margin: 0;
  font-weight: 600;
}

.suitable {
  width: 1440px;
  display: grid;
  grid-template-areas: 'a a ' 'b c ';
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  gap: 10px;
  margin: 0 auto 140px auto;
  animation: polemorf both;
  animation-timeline: view(70% 20%);
}

@keyframes polemorf {
  from {
    background-color: #ffffff;
    opacity: 0;
  }
  to {
    background-color: #ffffff;
    opacity: 1;
  }
}

.suitable__title {
  width: 625px;
  font-size: 52px;
  font-weight: 500;
  line-height: 62.93px;
  color: #333232;
  grid-area: a;
  margin: 0 auto 60px 0;
}

.suitable__description {
  border-radius: 28px;
  width: 590px;
  height: 321px;
  background-color: #c5b6f1;
  padding: 40px 48px 0 48px;
  color: #333232;
  grid-area: b;
  margin: 0;
}

.suitable__description_image {
  width: 590px;
  height: 321px;
  padding: 40px 48px 0 48px;
  border-radius: 28px;
  color: #333232;
  grid-area: c;
  border: 1px solid rgba(197, 182, 241, 1);
}

.seven-steps {
  width: 1440px;
  margin: 0 auto 140px auto;
}

.seven-steps__table {
  display: grid;
  grid-template-columns: repeat(2, 631px);
  gap: 10px 104px;
}

.seven-steps__cell {
  margin: 10px;
  width: 631px;
  padding: 20px;
  display: grid;
  grid-template-areas: 'a b ' 'c c ';
  grid-template-columns: 82px 537px;
  grid-template-rows: repeat(2, min-content);
  gap: 10px;
  align-items: center;
}

.seven-steps__cell:nth-child(odd) {
  margin-top: -150px;

  animation: ritgh-move;
  animation-timeline: view(90% 0%);
}

@keyframes ritgh-move {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

.seven-steps__cell:first-child {
  margin-top: 0;
}

.seven-steps__cell:nth-child(even) {
  margin-top: 300px;
  right: 20px;
  animation: left-move;
  animation-timeline: view(90% 0%);
}

@keyframes left-move {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

.seven-steps__title-cell {
  margin: 0 auto 0 18px;
  height: min-content;
  font-size: 32px;
  font-weight: 500;
  line-height: 38.73px;
  text-align: left;
  grid-area: b;
}

.seven-steps__number-cell {
  height: 63px;
  padding-left: 12px;
  margin: 0;
  font-size: 52px;
  font-weight: 600;
  line-height: 62.93px;
  border-left: 1px solid rgba(197, 182, 241, 1);
  grid-area: a;
}

.seven-steps__img-cell {
  grid-area: c;
}

.seven-steps__title {
  margin: 0 auto 60px 0;
  font-size: 52px;
  font-weight: 500;
  line-height: 62.93px;
  color: #333232;
  width: 625px;
}

.carousel-component {
  width: 1440px;
  margin: 0 auto 120px auto;
}

.carousel__title {
  color: #333232;
  margin: 0 auto 60px 0;
  font-size: 52px;
  font-weight: 500;
  line-height: 62.93px;
}

.questions {
  width: 1440px;
  margin: 0 auto 120px auto;
}

.questions__title {
  color: #333232;
  margin: 0 auto 60px 0;
  font-size: 52px;
  font-weight: 500;
  line-height: 62.93px;
}

.questions__cards {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.questions__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts {
  width: 1440px;
  margin: 0 auto 100px auto;
}

.contacts__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contacts__card:hover {
  animation: twitching;
  animation-duration: 0.5s;
}

@keyframes twitching {
  0% {
    transform: scale(0.95, 1.05);
  }
  33% {
    transform: scale(1.05, 0.95);
  }
  66% {
    transform: scale(0.95, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

.contacts__img {
  width: 60px;
  height: 60px;
  margin: 40px auto 100px 40px;
}

.contacts__card,
.contacts__card:active,
.contacts__card:hover {
  width: 686px;
  min-height: 279px;
  background-color: white;
  border-radius: 28px;
  padding-bottom: 40px;
  border: 2px solid #000000;
  text-decoration: none;
  color: #000000;
}

.contacts__contact {
  font-size: 32px;
  font-weight: 500;
  line-height: 38.73px;
  text-align: left;
  margin-left: 40px;
}

.contacts__title {
  color: #333232;
  margin: 0 auto 60px 0;
  font-size: 52px;
  font-weight: 500;
  line-height: 62.93px;
}
