.header {
  width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'a a ' 'b c ';
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}

.header__pouring {
  display: flex;
  grid-area: a;
}

.header__description {
  margin: 0;
  width: 825px;
  height: 124px;
  border-radius: 28px;
  background-color: #f5f5f5;
  padding: 24px 48px 0 48px;
  text-align: left;
  grid-area: b;
  color: #333232;
}

.header__link {
  margin: 0;
  color: #333232;
  border-radius: 28px;
  border: 1px solid #c5b6f1;
  grid-area: c;
  width: 451px;
  height: 102px;
  text-align: center;
  padding-top: 44px;
}

.header__link:hover {
  animation: 1.2s ease-in-out 0s trambling-animation;
}
@keyframes trambling-animation {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-2deg);
  }
  20%,
  40% {
    transform: rotate(2deg);
  }
}
