body {
  padding: 10px;
}

.carousel {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  padding: 10px 40px;

  border-radius: 15px;
}

/* .carousel img {
  width: 130px;
  height: 130px;
  делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок
  display: block;
  ]
 */

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.carousel__gallery {
  width: 1440px;
  overflow: hidden;
}

.carousel__gallery ul {
  height: 385pxpx;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.carousel__gallery li {
  display: inline-block;
}

.carousel__item {
  position: relative;
}

.carousel__image {
  width: 335px;
  height: 385px;
  display: block;
}
