.carousel {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  border-radius: 15px;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.carousel__gallery {
  width: 1440px;
  overflow: hidden;
}

.carousel__gallery ul {
  height: 385px;
  width: 19999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.carousel__li {
  display: inline-block;
  margin-right: 20px;
}

.carousel__item {
  position: relative;
}

.carousel__image {
  width: 335px;
  height: 385px;
  display: block;
}
